[submodule "appimage-urxvt"]
	path = appimage-urxvt
	url = https://github.com/appstew/appimage-urxvt.git
[submodule "appimage-python-template"]
	path = appimage-python-template
	url = https://github.com/appstew/appimage-python-template.git
[submodule "appimage-OrangeCanvas"]
	path = appimage-OrangeCanvas
	url = https://github.com/appstew/appimage-OrangeCanvas.git
